.container {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  position: fixed;
  background-color: white;
}

.search {
  width: 80%;
  height: 50px;
}

.form {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  width: 320px;
  text-align: center;
}
.form input {
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(72, 114, 194, 0.479);
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}
